@font-face {
    font-family: deku;
    src: url(Dekko-Regular.ttf);
  }

body{
    background-color: darkgray;
    text-align: center;
    font-family: 'deku', sans-serif;
}

#todoDiag{
    border: none;
    border-radius: 15px;
    padding: 0px;
}

#todoForm{
    padding: 20px;
}

.header{
    margin-bottom: 20px;
}
.header>button{
    width: 100px;
    height: 30px;
    background-color: mintcream;
    border: none;
}

.done{
    background-color: lightgrey;
}

.todo{
    border: none;
    border-radius: 10px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow: 3px 3px 4px 1px black;
}

.todo>button{
    height: 2em;
    border: none;
    border-radius: 1em;
}

h4, p{
    text-wrap: pretty;
}

h2{
    width: 200px;
}

.high{
    background-color: crimson;
}

.mid{
    background-color: orange;
}

.low{
    background-color: forestgreen;
}

#list, body{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}